__pycache__/
.git
.gitignore
.env
.env.example
.vscode/
*.pyc
*.pem
*.swp
data/
logs/
tools/
venv/
nginx.config.example
setting/config.toml
!setting/config.toml.example
setting/trackingcode.txt
docker-compose.yml
docker-compose.yml.example
.DS_Store

README.md
README.en.md
manual.md

