__pycache__/
.trashbox/
.venv/
logs/*
.vscode
.sshkey
data/bbs.db
data/attachments/*
data/backups/*
data/quarantine/*
# Local environment settings
.env
setting/config.toml
docker-compose.yml
private_key.pem
