__pycache__/
.trashbox/
.venv/
logs/*
.vscode
.sshkey
data/bbs.db
data/attachments/*
data/backups/*
data/quarantine/*
.env
setting/config.toml
setting/trackingdata.txt
static/manifest.json
docker-compose.yml
private_key.pem
public_key.pem
