numpy
toml
PyYAML
flask
Flask-Limiter
flask-socketio
flask-session
gunicorn
gevent-websocket
redis
mysql-connector-python
webauthn
pywebpush==2.0.3
cryptography==42.0.8
psutil
opencv-python-headless
Pillow
requests
APScheduler
croniter
